* {
    box-sizing: border-box;
    margin: 0;
}

@font-face {
    font-family: Roboto;
    src: url('/assets/fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf');
}

body {
    min-height: 100vh;
    background: #3498db;
    color: #fff;

    font-family: 'Roboto', sans-serif;
}

h1, h2 {
    color: #F2A365;
    text-align: center;
}