* {
    box-sizing: border-box;
    margin: 0;
}

body {
    min-height: 100vh;
    /* background: #1B2838; */
    background: radial-gradient(
        circle,
        rgba(44, 62, 80, 1) 0%,
        rgba(34, 49, 63, 1) 50%,
        rgba(19, 30, 40, 1) 100%
    );
    color: #c7d5e0;
    font-family: 'Arial', sans-serif;
}

h1, h2 {
    color: #F2A365;
    text-align: center;
}